!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Tex App.—Online
    %link{:rel => :stylesheet, :href => "/bootstrap.min.css"}
    %link{:rel => :stylesheet, :href => "/bootstrap-responsive.min.css"}
    %link{:rel => :stylesheet, :href => "/styles.css"}
  %body
    .navbar
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand.sc TexApp.org
          .nav.collapse.nav-collapse
            %ul.nav
              - links = {'Home' => '/', 'About' => '/about'}
              - links.each do |title, url|
                %li{class: request.path_info == url && 'active'}
                  %a{:href => url}
                    = title
    .container-fluid
      .row-fluid
        = yield
      %hr
      %footer
        &copy; Don Cruse &amp; Kyle Mitchell
    %script{:src => "http://code.jquery.com/jquery-latest.js"}
    %script{:src => "/bootstrap.min.js"}
